<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it1315.tree.mapper.TreeMapper">
    <resultMap id="BaseResultMap" type="com.it1315.tree.entity.Tree">
        <id column="id" property="id"/>
        <result column="lon" property="lon"/>
        <result column="lat" property="lat"/>
        <result column="tree_type" property="treeType"/>
        <result column="hight" property="hight"/>
        <result column="crown" property="crown"/>
        <result column="age" property="age"/>
        <result column="photo_path" property="photoPath"/>
    </resultMap>
    <sql id="ColumnList">
        id, lon, lat, tree_type, hight, crown, age, photo_path
    </sql>
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="ColumnList"/>
        from t_tree
        where id=#{id}
    </select>

    <select id="findWithCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="ColumnList" />
        from t_tree
        where 1=1
        <if test="treeType != null"><![CDATA[and tree_type=#{treeType}]]></if>
        <if test="minHight != null"><![CDATA[and hight >= #{minHight}]]></if>
        <if test="maxHight != null"><![CDATA[and hight <= #{maxHight}]]></if>
        <if test="minCrown != null"><![CDATA[and crown >= #{minCrown}]]></if>
        <if test="maxCrown != null"><![CDATA[and crown <= #{maxCrown}]]></if>
        <if test="age != null"><![CDATA[and age >= #{minAge}]]></if>
    </select>

</mapper>